* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #E5F8FB;
}

header { 
    background-color: #424242;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding-top: 0.5em;
}

h4 {
    font-size: 1.25em;
}
.noobBotGuess {
    font-size: 1.25em;
    color: red;
    background-color: white;
}
.smartBotGuess {
    font-size: 1.25em;
    color: red;
    background-color: white;
}
.hackerBotGuess {
    font-size: 1.25em;
    color: red;
    background-color: white;
}
.youGuess {
    font-size: 1.25em;
    color: red;
    background-color: white;
}

h5 {
    font-size: 1em;
}
  

#timerDiv {
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em;
    color: white;
}
  

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: black solid 1px;
    padding: 1.25em;
}

.opponentDiv {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    flex-wrap: wrap;
    height: auto;
    width: 300px;
}

.opponentOne {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
    /* background-color: violet; */
    width: 80px;
    height: 90px;
    z-index: 10;
}

.oppPic {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    z-index: 20;
    image-rendering: optimizeQuality;
}

.opponentTwo {
    /* background-color: red; */
    width: 80px;
    height: 90px;
    z-index: 10;
}

.opponentDivTwo {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    width: 300px;
    z-index: 10;
}

.opponentThree {
    /* background-color: green; */
    width: 80px;
    height: 90px;
    z-index: 10;
}

.opponentFour {
    /* background-color: pink; */
    width: 80px;
    height: 90px;
}

#buttonDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
}

.roundDiv {
    display: flex;
    border-radius: 50%;
    background-color: #380015;
    background-image: url("assets/wood-pattern.png");
    border: rgb(58, 32, 32) solid 4px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    align-items: center;
    align-self: center;
    width: 150px;
    height: 150px;
    z-index: 0;
    opacity: 0.8;
}
.guessingDiv {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 120px;
    height: 120px;
    z-index: 0;
    opacity: 0.8;
}
.guessingDivTop {
    display: flex;
    width: 100%;
    height: 50%;
    justify-content: space-between;
    align-items: flex-start;
}
.guessingDivBottom {
    display: flex;
    width: 100%;
    height: 50%;
    justify-content: space-between;
    align-items: flex-end;
}
.input-group {
    margin: 10px;
    max-width: 300px;
    min-width: 300px;
    height: 10px;
}


#grad1 {
    height: 200px;
    background-color: rgb(32, 25, 119); /* For browsers that do not support gradients */
    background-image: linear-gradient(to right, rgb(56, 41, 83) , rgb(86, 140, 202));
  }

.keyboard {
    width: auto;
    height: fit-content;
    display: flex;
    flex-direction: column;
    background-color: darkgray;
    margin: 2em;
    padding: 1em;
    border-radius: 0.25em;
    position: absolute;
    bottom: 60px;
    align-items: center;
    align-self: center;
    z-index: 100;
    /* visibility: hidden; */
}

.selectButton {
    display: flex;
    flex-direction: row;
}