* {
    box-sizing: border-box;
}

body {
    text-align: center;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,91,121,1) 47%, rgba(0,212,255,1) 100%);
}

h3, p {
    font-size: 2vw;
    color:white;
}

.container {
    padding-top: 5%
}
