h3 {
    padding-top: 10vh;
    padding-bottom: 3vh;
}

body {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header { 
    background-color: #424242;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 320px;
    height: 70px;
    padding-top: 0.25em;
}

.btn-primary {
    font-size: 5px;
}

#opponentDiv {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 320px;
    height: 500px;
    background-color: white;
    color: black;
}


footer {
    width: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 4em;
    position: absolute;
    bottom: 0px;
    background-color: #424242;
    height: 50px;
    color:white;
}