* {
    box-sizing: border-box;
}

body {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



header { 
    background-color: #424242;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 320px;
    height: 70px;
    padding-top: 0.25em;
}

h4 {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    color: white;
}
  
#buttonDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
}

.btn-primary {
    font-size: 13px;
    margin: 15px;
}

main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


#opponentDiv {
    display: flex;
    align-items: center;
    margin-top: 10px;
    flex-direction: column;
    width: 320px;
    background-color: white;
}


/* NoobBot */
#opponentOne {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    justify-content: center;
    width: 120px;
    margin-top: 10px;

}

#oppPicOne {
    height: 70px;
    /* margin-top: 2px; */
    justify-content: center;

}

p {
    font-size: 10px;

}

#oppText {
    text-align: center;
    font-size: 15px;
}

/* smartBot */
#opponentTwo {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    justify-content: center;
    width: 120px;
}

#oppPicTwo {
    height: 70px;
    justify-content: center;
    align-items: center;
}

/* hackerBot */
#opponentThree {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    justify-content: center;
    width: 120px;
    height: 110px;
}

#oppPicThree {
    height: 70px;
    justify-content: center;

}

footer {
    width: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4em;
    position: absolute;
    bottom: 0px;
}

p {
    color: black;
    margin-top: 0.25em;
}
h4 {
    font-size: 1.25em;
}

h5 {
    font-size: 1em;
}


/* #grad1 {
    height: 200px;
    background-color: rgb(32, 25, 119); /* For browsers that do not support gradients */
    /* background-image: */ /* linear-gradient(to right, rgb(56, 41, 83) , rgb(86, 140, 202));
  } */ 